name: container-build.yaml
on:
  push:
    branches:
      - main
  pull_request:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  bake:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Validate build configuration
        uses: docker/bake-action@v6
        with:
          files: |
            ./container/docker-bake.hcl
          targets: validate-build
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build
        uses: docker/bake-action@v6
        if: ${{ github.event_name == 'pull_request' }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}
        with:
          targets: dashboard
          push: false
          files: |
            ./container/docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        if: ${{ github.event_name != 'pull_request' }}
        env:
          SOURCE_DATE_EPOCH: 0
        with:
          targets: dashboard
          push: true
          provenance: mode=max
          sbom: true
          files: |
            ./container/docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          annotations: ${{ steps.meta.outputs.annotations }}
