name: container-build.yaml
on:
  push:
    branches:
      - prescient
  pull_request:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  bake:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Validate build configuration
        uses: docker/bake-action@v6
        with:
          files: |
            ./container/docker-bake.hcl
          targets: validate-build
      - name: Build and push
        id: push
        uses: docker/bake-action@v6
        env:
          SOURCE_DATE_EPOCH: 0
        with:
          targets: dashboard
          push: ${{ github.event_name != 'pull_request' }} # Push if not a pull request
          pull: true
          provenance: mode=min
          sbom: true
          files: |
            ./container/docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
