name: container-build.yaml
on:
  push:
    branches:
      - prescient
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  bake:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Get Git commit timestamps
        run: echo "TIMESTAMP=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build
        uses: docker/bake-action@v6
        if: ${{ github.event_name == 'pull_request' }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}
        with:
          push: true
          files: |
            ./container/docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
      - name: Build and push
        uses: docker/bake-action@v6
        if: ${{ github.event_name != 'pull_request' }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}
        with:
          push: true
          files: |
            ./container/docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true